{
  "swagger": "2.0",
  "info": {
    "title": "OpenDota API",
    "description": "# Introduction\nThis API provides Dota 2 related data.\nPlease keep request rate to approximately 3/s.\n",
    "version": "17.5.0"
  },
  "host": "api.opendota.com",
  "basePath": "/api",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/matches/{match_id}": {
      "get": {
        "summary": "GET /matches/{match_id}",
        "description": "Match data",
        "tags": [
          "matches"
        ],
        "parameters": [
          {
            "name": "match_id",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "match_id": {
                  "description": "match_id",
                  "type": "integer"
                },
                "barracks_status_dire": {
                  "description": "barracks_status_dire",
                  "type": "integer"
                },
                "barracks_status_radiant": {
                  "description": "barracks_status_radiant",
                  "type": "integer"
                },
                "chat": {
                  "description": "chat",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "description": "time",
                        "type": "integer"
                      },
                      "unit": {
                        "description": "player name",
                        "type": "string"
                      },
                      "key": {
                        "description": "words",
                        "type": "string"
                      },
                      "slot": {
                        "description": "slot",
                        "type": "integer"
                      },
                      "player_slot": {
                        "description": "player_slot",
                        "type": "integer"
                      }
                    }
                  }
                },
                "cluster": {
                  "description": "cluster",
                  "type": "integer"
                },
                "cosmetics": {
                  "description": "cosmetics",
                  "type": "object"
                },
                "dire_score": {
                  "description": "dire_score",
                  "type": "integer"
                },
                "draft_timings": {
                  "description": "draft_timings",
                  "type": "array",
                  "items": {
                    "decription": "draft_stage",
                    "type": "object",
                    "properties": {
                      "order": {
                        "description": "order",
                        "type": "integer"
                      },
                      "pick": {
                        "description": "pick",
                        "type": "boolean"
                      },
                      "active_team": {
                        "description": "active_team",
                        "type": "integer"
                      },
                      "hero_id": {
                        "decription": "hero_id",
                        "type": "integer"
                      },
                      "player_slot": {
                        "description": "player_slot",
                        "type": "integer"
                      },
                      "extra_time": {
                        "description": "extra_time",
                        "type": "integer"
                      },
                      "total_time_taken": {
                        "description": "total_time_taken",
                        "type": "integer"
                      }
                    }
                  }
                },
                "duration": {
                  "description": "duration",
                  "type": "integer"
                },
                "engine": {
                  "description": "engine",
                  "type": "integer"
                },
                "first_blood_time": {
                  "description": "first_blood_time",
                  "type": "integer"
                },
                "game_mode": {
                  "description": "game_mode",
                  "type": "integer"
                },
                "human_players": {
                  "description": "human_players",
                  "type": "integer"
                },
                "leagueid": {
                  "description": "leagueid",
                  "type": "integer"
                },
                "lobby_type": {
                  "description": "lobby_type",
                  "type": "integer"
                },
                "match_seq_num": {
                  "description": "match_seq_num",
                  "type": "integer"
                },
                "negative_votes": {
                  "description": "negative_votes",
                  "type": "integer"
                },
                "objectives": {
                  "description": "objectives",
                  "type": "object"
                },
                "picks_bans": {
                  "description": "picks_bans",
                  "type": "object"
                },
                "positive_votes": {
                  "description": "positive_votes",
                  "type": "integer"
                },
                "radiant_gold_adv": {
                  "description": "radiant_gold_adv",
                  "type": "object"
                },
                "radiant_score": {
                  "description": "radiant_score",
                  "type": "integer"
                },
                "radiant_win": {
                  "description": "radiant_win",
                  "type": "boolean"
                },
                "radiant_xp_adv": {
                  "description": "radiant_xp_adv",
                  "type": "object"
                },
                "start_time": {
                  "description": "start_time",
                  "type": "integer"
                },
                "teamfights": {
                  "description": "teamfights",
                  "type": "object"
                },
                "tower_status_dire": {
                  "description": "tower_status_dire",
                  "type": "integer"
                },
                "tower_status_radiant": {
                  "description": "tower_status_radiant",
                  "type": "integer"
                },
                "version": {
                  "description": "version",
                  "type": "integer"
                },
                "replay_salt": {
                  "description": "replay_salt",
                  "type": "integer"
                },
                "series_id": {
                  "description": "series_id",
                  "type": "integer"
                },
                "series_type": {
                  "description": "series_type",
                  "type": "integer"
                },
                "radiant_team": {
                  "description": "radiant_team",
                  "type": "object"
                },
                "dire_team": {
                  "description": "dire_team",
                  "type": "object"
                },
                "league": {
                  "description": "league",
                  "type": "object"
                },
                "skill": {
                  "description": "skill",
                  "type": "integer"
                },
                "players": {
                  "description": "players",
                  "type": "array",
                  "items": {
                    "description": "player",
                    "type": "object",
                    "properties": {
                      "match_id": {
                        "description": "match_id",
                        "type": "integer"
                      },
                      "player_slot": {
                        "description": "player_slot",
                        "type": "integer"
                      },
                      "ability_upgrades_arr": {
                        "description": "ability_upgrades_arr",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "ability_uses": {
                        "description": "ability_uses",
                        "type": "object"
                      },
                      "ability_targets": {
                        "description": "ability_targets",
                        "type": "object"
                      },
                      "account_id": {
                        "description": "account_id",
                        "type": "integer"
                      },
                      "actions": {
                        "description": "actions",
                        "type": "object"
                      },
                      "additional_units": {
                        "description": "additional_units",
                        "type": "object"
                      },
                      "assists": {
                        "description": "assists",
                        "type": "integer"
                      },
                      "backpack_0": {
                        "description": "backpack_0",
                        "type": "integer"
                      },
                      "backpack_1": {
                        "description": "backpack_1",
                        "type": "integer"
                      },
                      "backpack_2": {
                        "description": "backpack_2",
                        "type": "integer"
                      },
                      "buyback_log": {
                        "description": "buyback_log",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "time": {
                              "description": "time",
                              "type": "integer"
                            },
                            "slot": {
                              "description": "slot",
                              "type": "integer"
                            },
                            "player_slot": {
                              "description": "player_slot",
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "camps_stacked": {
                        "description": "camps_stacked",
                        "type": "integer"
                      },
                      "creeps_stacked": {
                        "description": "creeps_stacked",
                        "type": "integer"
                      },
                      "damage": {
                        "description": "damage",
                        "type": "object"
                      },
                      "damage_inflictor": {
                        "description": "damage_inflictor",
                        "type": "object"
                      },
                      "damage_inflictor_received": {
                        "description": "damage_inflictor_received",
                        "type": "object"
                      },
                      "damage_taken": {
                        "description": "damage_taken",
                        "type": "object"
                      },
                      "deaths": {
                        "description": "deaths",
                        "type": "integer"
                      },
                      "denies": {
                        "description": "denies",
                        "type": "integer"
                      },
                      "dn_t": {
                        "description": "dn_t",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "gold": {
                        "description": "gold",
                        "type": "integer"
                      },
                      "gold_per_min": {
                        "description": "gold_per_min",
                        "type": "integer"
                      },
                      "gold_reasons": {
                        "description": "gold_reasons",
                        "type": "object"
                      },
                      "gold_spent": {
                        "description": "gold_spent",
                        "type": "integer"
                      },
                      "gold_t": {
                        "description": "gold_t",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "hero_damage": {
                        "description": "hero_damage",
                        "type": "integer"
                      },
                      "hero_healing": {
                        "description": "hero_healing",
                        "type": "integer"
                      },
                      "hero_hits": {
                        "description": "hero_hits",
                        "type": "object"
                      },
                      "hero_id": {
                        "description": "hero_id",
                        "type": "integer"
                      },
                      "item_0": {
                        "description": "item_0",
                        "type": "integer"
                      },
                      "item_1": {
                        "description": "item_1",
                        "type": "integer"
                      },
                      "item_2": {
                        "description": "item_2",
                        "type": "integer"
                      },
                      "item_3": {
                        "description": "item_3",
                        "type": "integer"
                      },
                      "item_4": {
                        "description": "item_4",
                        "type": "integer"
                      },
                      "item_5": {
                        "description": "item_5",
                        "type": "integer"
                      },
                      "item_uses": {
                        "description": "item_uses",
                        "type": "object"
                      },
                      "kill_streaks": {
                        "description": "kill_streaks",
                        "type": "object"
                      },
                      "killed": {
                        "description": "killed",
                        "type": "object"
                      },
                      "killed_by": {
                        "description": "killed_by",
                        "type": "object"
                      },
                      "kills": {
                        "description": "kills",
                        "type": "integer"
                      },
                      "kills_log": {
                        "description": "kills_log",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "time": {
                              "description": "time",
                              "type": "integer"
                            },
                            "key": {
                              "description": "key",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "lane_pos": {
                        "description": "lane_pos",
                        "type": "object"
                      },
                      "last_hits": {
                        "description": "last_hits",
                        "type": "integer"
                      },
                      "leaver_status": {
                        "description": "leaver_status",
                        "type": "integer"
                      },
                      "level": {
                        "description": "level",
                        "type": "integer"
                      },
                      "lh_t": {
                        "description": "lh_t",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "life_state": {
                        "description": "life_state",
                        "type": "object"
                      },
                      "max_hero_hit": {
                        "description": "max_hero_hit",
                        "type": "object"
                      },
                      "multi_kills": {
                        "description": "multi_kills",
                        "type": "object"
                      },
                      "obs": {
                        "description": "obs",
                        "type": "object"
                      },
                      "obs_left_log": {
                        "description": "obs_left_log",
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "obs_log": {
                        "description": "obs_log",
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "obs_placed": {
                        "description": "obs_placed",
                        "type": "integer"
                      },
                      "party_id": {
                        "description": "party_id",
                        "type": "integer"
                      },
                      "permanent_buffs": {
                        "description": "permanent_buffs",
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "pings": {
                        "description": "pings",
                        "type": "integer"
                      },
                      "purchase": {
                        "description": "purchase",
                        "type": "object"
                      },
                      "purchase_log": {
                        "description": "purchase_log",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "time": {
                              "description": "time",
                              "type": "integer"
                            },
                            "key": {
                              "description": "key",
                              "type": "string"
                            }
                          }
                        }
                      },
                      "rune_pickups": {
                        "description": "rune_pickups",
                        "type": "integer"
                      },
                      "runes": {
                        "description": "runes",
                        "type": "object",
                        "additionalProperties": {
                          "type": "integer"
                        }
                      },
                      "runes_log": {
                        "description": "runes_log",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "time": {
                              "description": "time",
                              "type": "integer"
                            },
                            "key": {
                              "description": "key",
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "sen": {
                        "description": "sen",
                        "type": "object"
                      },
                      "sen_left_log": {
                        "description": "sen_left_log",
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "sen_log": {
                        "description": "sen_log",
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "sen_placed": {
                        "description": "sen_placed",
                        "type": "integer"
                      },
                      "stuns": {
                        "description": "stuns",
                        "type": "number"
                      },
                      "times": {
                        "description": "times",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "tower_damage": {
                        "description": "tower_damage",
                        "type": "integer"
                      },
                      "xp_per_min": {
                        "description": "xp_per_min",
                        "type": "integer"
                      },
                      "xp_reasons": {
                        "description": "xp_reasons",
                        "type": "object"
                      },
                      "xp_t": {
                        "description": "xp_t",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "personaname": {
                        "description": "personaname",
                        "type": "string"
                      },
                      "name": {
                        "description": "name",
                        "type": "string"
                      },
                      "last_login": {
                        "description": "last_login",
                        "type": "dateTime"
                      },
                      "radiant_win": {
                        "description": "radiant_win",
                        "type": "boolean"
                      },
                      "start_time": {
                        "description": "start_time",
                        "type": "integer"
                      },
                      "duration": {
                        "description": "duration",
                        "type": "integer"
                      },
                      "cluster": {
                        "description": "cluster",
                        "type": "integer"
                      },
                      "lobby_type": {
                        "description": "lobby_type",
                        "type": "integer"
                      },
                      "game_mode": {
                        "description": "game_mode",
                        "type": "integer"
                      },
                      "patch": {
                        "description": "patch",
                        "type": "integer"
                      },
                      "region": {
                        "description": "region",
                        "type": "integer"
                      },
                      "isRadiant": {
                        "description": "isRadiant",
                        "type": "boolean"
                      },
                      "win": {
                        "description": "win",
                        "type": "integer"
                      },
                      "lose": {
                        "description": "win",
                        "type": "integer"
                      },
                      "total_gold": {
                        "description": "total_gold",
                        "type": "integer"
                      },
                      "total_xp": {
                        "description": "total_xp",
                        "type": "integer"
                      },
                      "kills_per_min": {
                        "description": "kills_per_min",
                        "type": "number"
                      },
                      "kda": {
                        "description": "kda",
                        "type": "number"
                      },
                      "abandons": {
                        "description": "abandons",
                        "type": "integer"
                      },
                      "neutral_kills": {
                        "description": "neutral_kills",
                        "type": "integer"
                      },
                      "tower_kills": {
                        "description": "tower_kills",
                        "type": "integer"
                      },
                      "courier_kills": {
                        "description": "courier_kills",
                        "type": "integer"
                      },
                      "lane_kills": {
                        "description": "lane_kills",
                        "type": "integer"
                      },
                      "hero_kills": {
                        "description": "hero_kills",
                        "type": "integer"
                      },
                      "observer_kills": {
                        "description": "observer_kills",
                        "type": "integer"
                      },
                      "sentry_kills": {
                        "description": "sentry_kills",
                        "type": "integer"
                      },
                      "roshan_kills": {
                        "description": "roshan_kills",
                        "type": "integer"
                      },
                      "necronomicon_kills": {
                        "description": "necronomicon_kills",
                        "type": "integer"
                      },
                      "ancient_kills": {
                        "description": "ancient_kills",
                        "type": "integer"
                      },
                      "buyback_count": {
                        "description": "buyback_count",
                        "type": "integer"
                      },
                      "observer_uses": {
                        "description": "observer_uses",
                        "type": "integer"
                      },
                      "sentry_uses": {
                        "description": "sentry_uses",
                        "type": "integer"
                      },
                      "lane_efficiency": {
                        "description": "lane_efficiency",
                        "type": "number"
                      },
                      "lane_efficiency_pct": {
                        "description": "lane_efficiency_pct",
                        "type": "number"
                      },
                      "lane": {
                        "description": "lane",
                        "type": "integer"
                      },
                      "lane_role": {
                        "description": "lane_role",
                        "type": "integer"
                      },
                      "is_roaming": {
                        "description": "is_roaming",
                        "type": "boolean"
                      },
                      "purchase_time": {
                        "description": "purchase_time",
                        "type": "object"
                      },
                      "first_purchase_time": {
                        "description": "first_purchase_time",
                        "type": "object"
                      },
                      "item_win": {
                        "description": "item_win",
                        "type": "object"
                      },
                      "item_usage": {
                        "description": "item_usage",
                        "type": "object"
                      },
                      "purchase_tpscroll": {
                        "description": "purchase_tpscroll",
                        "type": "object"
                      },
                      "actions_per_min": {
                        "description": "actions_per_min",
                        "type": "integer"
                      },
                      "life_state_dead": {
                        "description": "life_state_dead",
                        "type": "integer"
                      },
                      "rank_tier": {
                        "description": "The rank tier of the player. Tens place indicates rank, ones place indicates stars.",
                        "type": "integer"
                      },
                      "cosmetics": {
                        "description": "cosmetics",
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "benchmarks": {
                        "description": "benchmarks",
                        "type": "object"
                      }
                    }
                  }
                },
                "patch": {
                  "description": "patch",
                  "type": "integer"
                },
                "region": {
                  "description": "region",
                  "type": "integer"
                },
                "all_word_counts": {
                  "description": "all_word_counts",
                  "type": "object"
                },
                "my_word_counts": {
                  "description": "my_word_counts",
                  "type": "object"
                },
                "throw": {
                  "description": "throw",
                  "type": "integer"
                },
                "loss": {
                  "description": "loss",
                  "type": "integer"
                },
                "replay_url": {
                  "description": "replay_url",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}": {
      "get": {
        "summary": "GET /players/{account_id}",
        "description": "Player data",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "tracked_until": {
                  "description": "tracked_until",
                  "type": "string"
                },
                "solo_competitive_rank": {
                  "description": "solo_competitive_rank",
                  "type": "string"
                },
                "competitive_rank": {
                  "description": "competitive_rank",
                  "type": "string"
                },
                "rank_tier": {
                  "description": "rank_tier",
                  "type": "number"
                },
                "leaderboard_rank": {
                  "description": "leaderboard_rank",
                  "type": "number"
                },
                "mmr_estimate": {
                  "description": "mmr_estimate",
                  "type": "object",
                  "properties": {
                    "estimate": {
                      "description": "estimate",
                      "type": "number"
                    },
                    "stdDev": {
                      "description": "stdDev",
                      "type": "number"
                    },
                    "n": {
                      "description": "n",
                      "type": "integer"
                    }
                  }
                },
                "profile": {
                  "description": "profile",
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "description": "account_id",
                      "type": "integer"
                    },
                    "personaname": {
                      "description": "personaname",
                      "type": "string"
                    },
                    "name": {
                      "description": "name",
                      "type": "string"
                    },
                    "cheese": {
                      "description": "cheese",
                      "type": "integer"
                    },
                    "steamid": {
                      "description": "steamid",
                      "type": "string"
                    },
                    "avatar": {
                      "description": "avatar",
                      "type": "string"
                    },
                    "avatarmedium": {
                      "description": "avatarmedium",
                      "type": "string"
                    },
                    "avatarfull": {
                      "description": "avatarfull",
                      "type": "string"
                    },
                    "profileurl": {
                      "description": "profileurl",
                      "type": "string"
                    },
                    "last_login": {
                      "description": "last_login",
                      "type": "string"
                    },
                    "loccountrycode": {
                      "description": "loccountrycode",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/wl": {
      "get": {
        "summary": "GET /players/{account_id}/wl",
        "description": "Win/Loss count",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matches to offset start by",
            "required": false,
            "type": "integer"
          },
          {
            "name": "win",
            "in": "query",
            "description": "Whether the player won",
            "required": false,
            "type": "integer"
          },
          {
            "name": "patch",
            "in": "query",
            "description": "Patch ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "game_mode",
            "in": "query",
            "description": "Game Mode ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lobby_type",
            "in": "query",
            "description": "Lobby type ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Days previous",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lane_role",
            "in": "query",
            "description": "Lane Role ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "is_radiant",
            "in": "query",
            "description": "Whether the player was radiant",
            "required": false,
            "type": "integer"
          },
          {
            "name": "included_account_id",
            "in": "query",
            "description": "Account IDs in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "excluded_account_id",
            "in": "query",
            "description": "Account IDs not in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "with_hero_id",
            "in": "query",
            "description": "Hero IDs on the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "against_hero_id",
            "in": "query",
            "description": "Hero IDs against the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "significant",
            "in": "query",
            "description": "Whether the match was significant for aggregation purposes",
            "required": false,
            "type": "integer"
          },
          {
            "name": "having",
            "in": "query",
            "description": "The minimum number of games played, for filtering hero stats",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to return matches sorted by in descending order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "win": {
                  "description": "win",
                  "type": "integer"
                },
                "lose": {
                  "description": "lose",
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/recentMatches": {
      "get": {
        "summary": "GET /players/{account_id}/recentMatches",
        "description": "Recent matches played",
        "tags": [
          "players"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "description": "match",
                "type": "object",
                "properties": {
                  "match_id": {
                    "description": "match_id",
                    "type": "integer"
                  },
                  "player_slot": {
                    "description": "player_slot",
                    "type": "integer"
                  },
                  "radiant_win": {
                    "description": "radiant_win",
                    "type": "boolean"
                  },
                  "duration": {
                    "description": "duration",
                    "type": "integer"
                  },
                  "game_mode": {
                    "description": "game_mode",
                    "type": "integer"
                  },
                  "lobby_type": {
                    "description": "lobby_type",
                    "type": "integer"
                  },
                  "hero_id": {
                    "description": "hero_id",
                    "type": "integer"
                  },
                  "start_time": {
                    "description": "start_time",
                    "type": "integer"
                  },
                  "version": {
                    "description": "version",
                    "type": "integer"
                  },
                  "kills": {
                    "description": "kills",
                    "type": "integer"
                  },
                  "deaths": {
                    "description": "deaths",
                    "type": "integer"
                  },
                  "assists": {
                    "description": "assists",
                    "type": "integer"
                  },
                  "skill": {
                    "description": "skill",
                    "type": "integer"
                  },
                  "lane": {
                    "description": "lane",
                    "type": "integer"
                  },
                  "lane_role": {
                    "description": "lane_role",
                    "type": "integer"
                  },
                  "is_roaming": {
                    "description": "is_roaming",
                    "type": "boolean"
                  },
                  "cluster": {
                    "description": "cluster",
                    "type": "integer"
                  },
                  "leaver_status": {
                    "description": "leaver_status",
                    "type": "integer"
                  },
                  "party_size": {
                    "description": "party_size",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/matches": {
      "get": {
        "summary": "GET /players/{account_id}/matches",
        "description": "Matches played",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matches to offset start by",
            "required": false,
            "type": "integer"
          },
          {
            "name": "win",
            "in": "query",
            "description": "Whether the player won",
            "required": false,
            "type": "integer"
          },
          {
            "name": "patch",
            "in": "query",
            "description": "Patch ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "game_mode",
            "in": "query",
            "description": "Game Mode ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lobby_type",
            "in": "query",
            "description": "Lobby type ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Days previous",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lane_role",
            "in": "query",
            "description": "Lane Role ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "is_radiant",
            "in": "query",
            "description": "Whether the player was radiant",
            "required": false,
            "type": "integer"
          },
          {
            "name": "included_account_id",
            "in": "query",
            "description": "Account IDs in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "excluded_account_id",
            "in": "query",
            "description": "Account IDs not in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "with_hero_id",
            "in": "query",
            "description": "Hero IDs on the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "against_hero_id",
            "in": "query",
            "description": "Hero IDs against the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "significant",
            "in": "query",
            "description": "Whether the match was significant for aggregation purposes",
            "required": false,
            "type": "integer"
          },
          {
            "name": "having",
            "in": "query",
            "description": "The minimum number of games played, for filtering hero stats",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to return matches sorted by in descending order",
            "required": false,
            "type": "string"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Fields to project (array)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "description": "match",
                "type": "object",
                "properties": {
                  "match_id": {
                    "description": "match_id",
                    "type": "integer"
                  },
                  "player_slot": {
                    "description": "player_slot",
                    "type": "integer"
                  },
                  "radiant_win": {
                    "description": "radiant_win",
                    "type": "boolean"
                  },
                  "duration": {
                    "description": "duration",
                    "type": "integer"
                  },
                  "game_mode": {
                    "description": "game_mode",
                    "type": "integer"
                  },
                  "lobby_type": {
                    "description": "lobby_type",
                    "type": "integer"
                  },
                  "hero_id": {
                    "description": "hero_id",
                    "type": "integer"
                  },
                  "start_time": {
                    "description": "start_time",
                    "type": "integer"
                  },
                  "version": {
                    "description": "version",
                    "type": "integer"
                  },
                  "kills": {
                    "description": "kills",
                    "type": "integer"
                  },
                  "deaths": {
                    "description": "deaths",
                    "type": "integer"
                  },
                  "assists": {
                    "description": "assists",
                    "type": "integer"
                  },
                  "skill": {
                    "description": "skill",
                    "type": "integer"
                  },
                  "heroes": {
                    "description": "heroes (requires ?project=heroes)",
                    "type": "object",
                    "properties": {
                      "player_slot": {
                        "description": "player_slot",
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "description": "account_id",
                            "type": "integer"
                          },
                          "hero_id": {
                            "description": "hero_id",
                            "type": "integer"
                          },
                          "player_slot": {
                            "description": "player_slot",
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/heroes": {
      "get": {
        "summary": "GET /players/{account_id}/heroes",
        "description": "Heroes played",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matches to offset start by",
            "required": false,
            "type": "integer"
          },
          {
            "name": "win",
            "in": "query",
            "description": "Whether the player won",
            "required": false,
            "type": "integer"
          },
          {
            "name": "patch",
            "in": "query",
            "description": "Patch ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "game_mode",
            "in": "query",
            "description": "Game Mode ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lobby_type",
            "in": "query",
            "description": "Lobby type ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Days previous",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lane_role",
            "in": "query",
            "description": "Lane Role ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "is_radiant",
            "in": "query",
            "description": "Whether the player was radiant",
            "required": false,
            "type": "integer"
          },
          {
            "name": "included_account_id",
            "in": "query",
            "description": "Account IDs in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "excluded_account_id",
            "in": "query",
            "description": "Account IDs not in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "with_hero_id",
            "in": "query",
            "description": "Hero IDs on the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "against_hero_id",
            "in": "query",
            "description": "Hero IDs against the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "significant",
            "in": "query",
            "description": "Whether the match was significant for aggregation purposes",
            "required": false,
            "type": "integer"
          },
          {
            "name": "having",
            "in": "query",
            "description": "The minimum number of games played, for filtering hero stats",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to return matches sorted by in descending order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "description": "hero",
                "type": "object",
                "properties": {
                  "hero_id": {
                    "description": "hero_id",
                    "type": "integer"
                  },
                  "last_played": {
                    "description": "last_played",
                    "type": "integer"
                  },
                  "games": {
                    "description": "games",
                    "type": "integer"
                  },
                  "win": {
                    "description": "win",
                    "type": "integer"
                  },
                  "with_games": {
                    "description": "with_games",
                    "type": "integer"
                  },
                  "with_win": {
                    "description": "with_win",
                    "type": "integer"
                  },
                  "against_games": {
                    "description": "against_games",
                    "type": "integer"
                  },
                  "against_win": {
                    "description": "against_win",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/peers": {
      "get": {
        "summary": "GET /players/{account_id}/peers",
        "description": "Players played with",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matches to offset start by",
            "required": false,
            "type": "integer"
          },
          {
            "name": "win",
            "in": "query",
            "description": "Whether the player won",
            "required": false,
            "type": "integer"
          },
          {
            "name": "patch",
            "in": "query",
            "description": "Patch ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "game_mode",
            "in": "query",
            "description": "Game Mode ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lobby_type",
            "in": "query",
            "description": "Lobby type ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Days previous",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lane_role",
            "in": "query",
            "description": "Lane Role ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "is_radiant",
            "in": "query",
            "description": "Whether the player was radiant",
            "required": false,
            "type": "integer"
          },
          {
            "name": "included_account_id",
            "in": "query",
            "description": "Account IDs in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "excluded_account_id",
            "in": "query",
            "description": "Account IDs not in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "with_hero_id",
            "in": "query",
            "description": "Hero IDs on the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "against_hero_id",
            "in": "query",
            "description": "Hero IDs against the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "significant",
            "in": "query",
            "description": "Whether the match was significant for aggregation purposes",
            "required": false,
            "type": "integer"
          },
          {
            "name": "having",
            "in": "query",
            "description": "The minimum number of games played, for filtering hero stats",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to return matches sorted by in descending order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "description": "account_id",
                    "type": "integer"
                  },
                  "last_played": {
                    "description": "last_played",
                    "type": "integer"
                  },
                  "win": {
                    "description": "win",
                    "type": "integer"
                  },
                  "games": {
                    "description": "games",
                    "type": "integer"
                  },
                  "with_win": {
                    "description": "with_win",
                    "type": "integer"
                  },
                  "with_games": {
                    "description": "with_games",
                    "type": "integer"
                  },
                  "against_win": {
                    "description": "against_win",
                    "type": "integer"
                  },
                  "against_games": {
                    "description": "against_games",
                    "type": "integer"
                  },
                  "with_gpm_sum": {
                    "description": "with_gpm_sum",
                    "type": "integer"
                  },
                  "with_xpm_sum": {
                    "description": "with_xpm_sum",
                    "type": "integer"
                  },
                  "personaname": {
                    "description": "personaname",
                    "type": "string"
                  },
                  "last_login": {
                    "description": "last_login",
                    "type": "string"
                  },
                  "avatar": {
                    "description": "avatar",
                    "type": "string"
                  },
                  "avatarfull": {
                    "description": "avatarfull",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/pros": {
      "get": {
        "summary": "GET /players/{account_id}/pros",
        "description": "Pro players played with",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matches to offset start by",
            "required": false,
            "type": "integer"
          },
          {
            "name": "win",
            "in": "query",
            "description": "Whether the player won",
            "required": false,
            "type": "integer"
          },
          {
            "name": "patch",
            "in": "query",
            "description": "Patch ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "game_mode",
            "in": "query",
            "description": "Game Mode ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lobby_type",
            "in": "query",
            "description": "Lobby type ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Days previous",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lane_role",
            "in": "query",
            "description": "Lane Role ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "is_radiant",
            "in": "query",
            "description": "Whether the player was radiant",
            "required": false,
            "type": "integer"
          },
          {
            "name": "included_account_id",
            "in": "query",
            "description": "Account IDs in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "excluded_account_id",
            "in": "query",
            "description": "Account IDs not in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "with_hero_id",
            "in": "query",
            "description": "Hero IDs on the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "against_hero_id",
            "in": "query",
            "description": "Hero IDs against the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "significant",
            "in": "query",
            "description": "Whether the match was significant for aggregation purposes",
            "required": false,
            "type": "integer"
          },
          {
            "name": "having",
            "in": "query",
            "description": "The minimum number of games played, for filtering hero stats",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to return matches sorted by in descending order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "description": "account_id",
                    "type": "integer"
                  },
                  "name": {
                    "description": "name",
                    "type": "string"
                  },
                  "country_code": {
                    "description": "country_code",
                    "type": "string"
                  },
                  "fantasy_role": {
                    "description": "fantasy_role",
                    "type": "integer"
                  },
                  "team_id": {
                    "description": "team_id",
                    "type": "integer"
                  },
                  "team_name": {
                    "description": "team_name",
                    "type": "string"
                  },
                  "team_tag": {
                    "description": "team_tag",
                    "type": "string"
                  },
                  "is_locked": {
                    "description": "is_locked",
                    "type": "boolean"
                  },
                  "is_pro": {
                    "description": "is_pro",
                    "type": "boolean"
                  },
                  "locked_until": {
                    "description": "locked_until",
                    "type": "integer"
                  },
                  "steamid": {
                    "description": "steamid",
                    "type": "string"
                  },
                  "avatar": {
                    "description": "avatar",
                    "type": "string"
                  },
                  "avatarmedium": {
                    "description": "avatarmedium",
                    "type": "string"
                  },
                  "avatarfull": {
                    "description": "avatarfull",
                    "type": "string"
                  },
                  "profileurl": {
                    "description": "profileurl",
                    "type": "string"
                  },
                  "last_login": {
                    "description": "last_login",
                    "type": "dateTime"
                  },
                  "full_history_time": {
                    "description": "full_history_time",
                    "type": "dateTime"
                  },
                  "cheese": {
                    "description": "cheese",
                    "type": "integer"
                  },
                  "fh_unavailable": {
                    "description": "fh_unavailable",
                    "type": "boolean"
                  },
                  "loccountrycode": {
                    "description": "loccountrycode",
                    "type": "string"
                  },
                  "last_played": {
                    "description": "last_played",
                    "type": "integer"
                  },
                  "win": {
                    "description": "win",
                    "type": "integer"
                  },
                  "games": {
                    "description": "games",
                    "type": "integer"
                  },
                  "with_win": {
                    "description": "with_win",
                    "type": "integer"
                  },
                  "with_games": {
                    "description": "with_games",
                    "type": "integer"
                  },
                  "against_win": {
                    "description": "against_win",
                    "type": "integer"
                  },
                  "against_games": {
                    "description": "against_games",
                    "type": "integer"
                  },
                  "with_gpm_sum": {
                    "description": "with_gpm_sum",
                    "type": "integer"
                  },
                  "with_xpm_sum": {
                    "description": "with_xpm_sum",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/totals": {
      "get": {
        "summary": "GET /players/{account_id}/totals",
        "description": "Totals in stats",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matches to offset start by",
            "required": false,
            "type": "integer"
          },
          {
            "name": "win",
            "in": "query",
            "description": "Whether the player won",
            "required": false,
            "type": "integer"
          },
          {
            "name": "patch",
            "in": "query",
            "description": "Patch ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "game_mode",
            "in": "query",
            "description": "Game Mode ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lobby_type",
            "in": "query",
            "description": "Lobby type ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Days previous",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lane_role",
            "in": "query",
            "description": "Lane Role ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "is_radiant",
            "in": "query",
            "description": "Whether the player was radiant",
            "required": false,
            "type": "integer"
          },
          {
            "name": "included_account_id",
            "in": "query",
            "description": "Account IDs in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "excluded_account_id",
            "in": "query",
            "description": "Account IDs not in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "with_hero_id",
            "in": "query",
            "description": "Hero IDs on the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "against_hero_id",
            "in": "query",
            "description": "Hero IDs against the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "significant",
            "in": "query",
            "description": "Whether the match was significant for aggregation purposes",
            "required": false,
            "type": "integer"
          },
          {
            "name": "having",
            "in": "query",
            "description": "The minimum number of games played, for filtering hero stats",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to return matches sorted by in descending order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "field": {
                    "description": "field",
                    "type": "string"
                  },
                  "n": {
                    "description": "number",
                    "type": "integer"
                  },
                  "sum": {
                    "description": "sum",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/counts": {
      "get": {
        "summary": "GET /players/{account_id}/counts",
        "description": "Counts in categories",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matches to offset start by",
            "required": false,
            "type": "integer"
          },
          {
            "name": "win",
            "in": "query",
            "description": "Whether the player won",
            "required": false,
            "type": "integer"
          },
          {
            "name": "patch",
            "in": "query",
            "description": "Patch ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "game_mode",
            "in": "query",
            "description": "Game Mode ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lobby_type",
            "in": "query",
            "description": "Lobby type ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Days previous",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lane_role",
            "in": "query",
            "description": "Lane Role ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "is_radiant",
            "in": "query",
            "description": "Whether the player was radiant",
            "required": false,
            "type": "integer"
          },
          {
            "name": "included_account_id",
            "in": "query",
            "description": "Account IDs in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "excluded_account_id",
            "in": "query",
            "description": "Account IDs not in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "with_hero_id",
            "in": "query",
            "description": "Hero IDs on the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "against_hero_id",
            "in": "query",
            "description": "Hero IDs against the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "significant",
            "in": "query",
            "description": "Whether the match was significant for aggregation purposes",
            "required": false,
            "type": "integer"
          },
          {
            "name": "having",
            "in": "query",
            "description": "The minimum number of games played, for filtering hero stats",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to return matches sorted by in descending order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "leaver_status": {
                  "description": "leaver_status",
                  "type": "object"
                },
                "game_mode": {
                  "description": "game_mode",
                  "type": "object"
                },
                "lobby_type": {
                  "description": "lobby_type",
                  "type": "object"
                },
                "lane_role": {
                  "description": "lane_role",
                  "type": "object"
                },
                "region": {
                  "description": "region",
                  "type": "object"
                },
                "patch": {
                  "description": "patch",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/histograms/{field}": {
      "get": {
        "summary": "GET /players/{account_id}/histograms",
        "description": "Distribution of matches in a single stat",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matches to offset start by",
            "required": false,
            "type": "integer"
          },
          {
            "name": "win",
            "in": "query",
            "description": "Whether the player won",
            "required": false,
            "type": "integer"
          },
          {
            "name": "patch",
            "in": "query",
            "description": "Patch ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "game_mode",
            "in": "query",
            "description": "Game Mode ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lobby_type",
            "in": "query",
            "description": "Lobby type ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Days previous",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lane_role",
            "in": "query",
            "description": "Lane Role ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "is_radiant",
            "in": "query",
            "description": "Whether the player was radiant",
            "required": false,
            "type": "integer"
          },
          {
            "name": "included_account_id",
            "in": "query",
            "description": "Account IDs in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "excluded_account_id",
            "in": "query",
            "description": "Account IDs not in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "with_hero_id",
            "in": "query",
            "description": "Hero IDs on the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "against_hero_id",
            "in": "query",
            "description": "Hero IDs against the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "significant",
            "in": "query",
            "description": "Whether the match was significant for aggregation purposes",
            "required": false,
            "type": "integer"
          },
          {
            "name": "having",
            "in": "query",
            "description": "The minimum number of games played, for filtering hero stats",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to return matches sorted by in descending order",
            "required": false,
            "type": "string"
          },
          {
            "name": "field",
            "in": "path",
            "description": "Field to aggregate on",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/wardmap": {
      "get": {
        "summary": "GET /players/{account_id}/wardmap",
        "description": "Wards placed in matches played",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matches to offset start by",
            "required": false,
            "type": "integer"
          },
          {
            "name": "win",
            "in": "query",
            "description": "Whether the player won",
            "required": false,
            "type": "integer"
          },
          {
            "name": "patch",
            "in": "query",
            "description": "Patch ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "game_mode",
            "in": "query",
            "description": "Game Mode ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lobby_type",
            "in": "query",
            "description": "Lobby type ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Days previous",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lane_role",
            "in": "query",
            "description": "Lane Role ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "is_radiant",
            "in": "query",
            "description": "Whether the player was radiant",
            "required": false,
            "type": "integer"
          },
          {
            "name": "included_account_id",
            "in": "query",
            "description": "Account IDs in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "excluded_account_id",
            "in": "query",
            "description": "Account IDs not in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "with_hero_id",
            "in": "query",
            "description": "Hero IDs on the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "against_hero_id",
            "in": "query",
            "description": "Hero IDs against the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "significant",
            "in": "query",
            "description": "Whether the match was significant for aggregation purposes",
            "required": false,
            "type": "integer"
          },
          {
            "name": "having",
            "in": "query",
            "description": "The minimum number of games played, for filtering hero stats",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to return matches sorted by in descending order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "obs": {
                  "description": "obs",
                  "type": "object"
                },
                "sen": {
                  "description": "sen",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/wordcloud": {
      "get": {
        "summary": "GET /players/{account_id}/wordcloud",
        "description": "Words said/read in matches played",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of matches to limit to",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of matches to offset start by",
            "required": false,
            "type": "integer"
          },
          {
            "name": "win",
            "in": "query",
            "description": "Whether the player won",
            "required": false,
            "type": "integer"
          },
          {
            "name": "patch",
            "in": "query",
            "description": "Patch ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "game_mode",
            "in": "query",
            "description": "Game Mode ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lobby_type",
            "in": "query",
            "description": "Lobby type ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Days previous",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lane_role",
            "in": "query",
            "description": "Lane Role ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "hero_id",
            "in": "query",
            "description": "Hero ID",
            "required": false,
            "type": "integer"
          },
          {
            "name": "is_radiant",
            "in": "query",
            "description": "Whether the player was radiant",
            "required": false,
            "type": "integer"
          },
          {
            "name": "included_account_id",
            "in": "query",
            "description": "Account IDs in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "excluded_account_id",
            "in": "query",
            "description": "Account IDs not in the match (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "with_hero_id",
            "in": "query",
            "description": "Hero IDs on the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "against_hero_id",
            "in": "query",
            "description": "Hero IDs against the player's team (array)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "significant",
            "in": "query",
            "description": "Whether the match was significant for aggregation purposes",
            "required": false,
            "type": "integer"
          },
          {
            "name": "having",
            "in": "query",
            "description": "The minimum number of games played, for filtering hero stats",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The field to return matches sorted by in descending order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "my_word_counts": {
                  "description": "my_word_counts",
                  "type": "object"
                },
                "all_word_counts": {
                  "description": "all_word_counts",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/ratings": {
      "get": {
        "summary": "GET /players/{account_id}/ratings",
        "description": "Player rating history",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "description": "account_id",
                    "type": "integer"
                  },
                  "match_id": {
                    "description": "match_id",
                    "type": "integer"
                  },
                  "solo_competitive_rank": {
                    "description": "solo_competitive_rank",
                    "type": "integer"
                  },
                  "competitive_rank": {
                    "description": "competitive_rank",
                    "type": "integer"
                  },
                  "time": {
                    "description": "time",
                    "type": "dateTime"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/rankings": {
      "get": {
        "summary": "GET /players/{account_id}/rankings",
        "description": "Player hero rankings",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properies": {
                  "hero_id": {
                    "description": "hero_id",
                    "type": "string"
                  },
                  "rank": {
                    "description": "percent_rank",
                    "type": "number"
                  },
                  "card": {
                    "description": "numeric_rank",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/players/{account_id}/refresh": {
      "post": {
        "summary": "POST /players/{account_id}/refresh",
        "description": "Refresh player match history",
        "tags": [
          "players"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Steam32 account ID",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/proPlayers": {
      "get": {
        "summary": "GET /proPlayers",
        "description": "Get list of pro players",
        "tags": [
          "pro players"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "description": "account_id",
                    "type": "integer"
                  },
                  "steamid": {
                    "description": "steamid",
                    "type": "string"
                  },
                  "avatar": {
                    "description": "avatar",
                    "type": "string"
                  },
                  "avatarmedium": {
                    "description": "avatarmedium",
                    "type": "string"
                  },
                  "avatarfull": {
                    "description": "avatarfull",
                    "type": "string"
                  },
                  "profileurl": {
                    "description": "profileurl",
                    "type": "string"
                  },
                  "personaname": {
                    "description": "personaname",
                    "type": "string"
                  },
                  "last_login": {
                    "description": "last_login",
                    "type": "dateTime"
                  },
                  "full_history_time": {
[...]
